Source: ros-noetic-cpr-indoornav-ridgeback
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-cpr-indoornav-ridgeback
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-cpr-indoornav-base, ros-noetic-launch-delay, ros-noetic-microstrain-inertial-driver, ros-noetic-ridgeback-base, ros-noetic-ridgeback-description, ros-noetic-ridgeback-msgs, ros-noetic-robot-upstart, ros-noetic-topic-tools, ros-noetic-um7
Description: Additional packages and scripts for running IndoorNav on the Ridgeback
